name: Deploy to AKS

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Push Docker Image
        uses: azure/docker-login@v1
        with:
          login-server: secretrotate2026.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Build and Push
        run: |
          docker build -t secretrotate2026.azurecr.io/secrets-dashboard:${{ github.run_id }} .
          docker push secretrotate2026.azurecr.io/secrets-dashboard:${{ github.run_id }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: 'rg-secrets-demo'
          cluster-name: 'demo_project'

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Deploy with Helm
        run: |
          helm upgrade --install secrets-dash ./charts/secrets-dashboard \
            --set image.repository="secretrotate2026.azurecr.io/secrets-dashboard" \
            --set image.tag="${{ github.run_id }}" \

            --set env.AZURE_CLIENT_ID="${{ secrets.AZURE_CLIENT_ID }}" \
            --set env.AZURE_CLIENT_SECRET="${{ secrets.AZURE_CLIENT_SECRET }}" \
            --set env.AZURE_TENANT_ID="${{ secrets.AZURE_TENANT_ID }}"
