name: Rotate Secret

on:
  workflow_dispatch:
    inputs:
      SecretName:
        description: 'Name of the Secret in AKV'
        required: true
        default: 'SQLPassword'
      K8sSecretName:
        description: 'Name of the Secret object in Kubernetes'
        required: true
        default: 'sql-secrets'
      K8sKey:
        description: 'Key inside the K8s Secret'
        required: true
        default: 'password'
      DeploymentName:
        description: 'Name of the Deployment to restart'
        required: true
        default: 'sql-server'

permissions:
  id-token: write
  contents: read

jobs:
  rotate:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: 'rg-secrets-demo'
          cluster-name: 'cluster-techdemo'

      - name: Fetch Secret from Key Vault
        id: fetch-secret
        run: |
          NEW_VALUE=$(az keyvault secret show --name ${{ inputs.SecretName }} --vault-name 'kv-techdemo-1769683213' --query value -o tsv)
          echo "::add-mask::$NEW_VALUE"
          echo "secret_value=$NEW_VALUE" >> $GITHUB_OUTPUT

      - name: Update Kubernetes Secret
        run: |
          kubectl create secret generic ${{ inputs.K8sSecretName }} \
            --from-literal=${{ inputs.K8sKey }}=${{ steps.fetch-secret.outputs.secret_value }} \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Restart Deployment
        run: |
          kubectl rollout restart deployment/${{ inputs.DeploymentName }}
          kubectl rollout status deployment/${{ inputs.DeploymentName }}
